@use '../base/themes';
@use '../base/breakpoints';

.about-section{
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    -webkit-scroll-snap-align: start;
    z-index: 2;

    .about-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
}


.about-vertical-rule {
    height: 100%;
    border-left: solid 1px var(--color-text);
    margin: 1rem 0;
    transform-origin: top;
}

@include breakpoints.lg {
    .about-container {
        width: 50%;
    }

    .about-text {
        font-size: 1.25rem;
    }
}