@use '../base/themes';

.about-section{
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    .about-vertical-rule {
        height: 100%;
        border-left: solid 1px var(--color-text);
        margin: 1rem 0;
    }

}