@use '../base/themes';
@use '../base/typography';
@use '../base/breakpoints';

.contact-section {
    padding-bottom: 2.5rem;
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  
    font-family: space mono, sans-serif;

    span {
        font-family: kayak, sans-serif;
        font-size: 1.5rem;
    }
}

.contact-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.contact-form-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        margin-bottom: 2rem;
        width: 70%;
    }
}

.contact-form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    .input-container {
        position: relative;
        margin-bottom: 1.5rem;

        &input+label, input+label {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
            font-family: kayak, sans-serif;
            font-size: 1.5rem;
            font-weight: lighter;
            border-radius: 8px;
            transition: all .2s ease-in-out;
        }

        &textarea+label, textarea+label {
            position: absolute;
            top: .5rem;
            left: 1rem;
            border-radius: 8px;
            font-family: kayak, sans-serif;
            font-size: 1.5rem;
            font-weight: lighter;
            transition: all .2s ease-in-out;
        }

        & input:focus~label,
        input:not(:placeholder-shown)~label,
        textarea:not(:placeholder-shown)~label,
        textarea:focus~label {
            position: absolute;
            top: -22px;
            left: 0;
            background-color: black;
            color:white;
            border-radius: 8px;
            padding: 2px 12px;
            z-index: 5;
            transform: scale(0.6);
        }

        & textarea:not(:placeholder-shown)~label,
        textarea:focus~label{
            position: absolute;
            top: -22px;
            left: -8px;
            background-color: black;
            color:white;
            border-radius: 8px;
            padding: 2px 12px;
            z-index: 5;
            transform: scale(0.6);;
        }
    }

    input, textarea {
        width: 100%;
        border: 1px solid var(--color-text);
        background: none;
        border-radius: 16px;
        padding: 12px 1rem;
        font-family: kayak, sans-serif;
        font-size: 1.5rem;
        color: var(--color-text);
    }

    input {
        height: 3.5rem;
    }

    textarea {
        height: 9rem;
    }
}

.submit-button {
    align-self: flex-end;
    padding: 8px;
    width: 50%;
    background-color: var(--color-text);
    border: none;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    // mix-blend-mode: screen;
    color: var(--text-opposite);
    font-family: kayak, sans-serif;
    text-transform: lowercase;
    font-size: 1.5rem;
    letter-spacing: .25rem;
    cursor: pointer;
    transition-property: opacity, color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-out;

    svg {
        margin-left: 1rem;
    }

    &:hover {
        padding: 7px;
        background-color: transparent;
        mix-blend-mode: normal;
        color: var(--color-text);
        border: 1px solid var(--color-text);
    
        svg {
            animation-name: bounceRight;
            animation-duration: 1.2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        @keyframes bounceRight {
            0% { transform: translateX(0)}
            50% { transform: translateX(8px)}
            100% { transform: translateX(0)}
        }
    }

    &:active {
        background-color: var(--button-active);
        transition-duration: .1s;
    }
}


.contact-content-container {
    height: 100%;
    display: flex;

    .social-links {
        display: none;

        a::before {
            background-color: transparent;
        }
    }
}

@include breakpoints.md {

    .contact-content-container {
        justify-content: space-between;
        align-items: center;

        .social-links {
            display: block;
        }

        a > svg {
            height: 48px;
            width: 48px;
        }
    }
    .contact-form-container {
        width: 66%;
        align-self: flex-end;
    }
}

@include breakpoints.lg {
    .contact-form-container {
        width: 50%;
    }

    .contact-container {
        justify-content: space-between;
    }

    .contact-content-container {
        a > svg {
            height: 48px;
            width: 48px;
        }

        .social-links {
            :not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}
