.footer-links {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.social-links {

    a {color: var(--color-text);}
    
    :not(:last-child) {
        margin-right: 1rem;
    }
}

.copyright, .credits, .privacy {
    font-size: 12px;
    color: var(--color-text);
    margin-right: 8px;
}

.privacy {
    margin-left: 8px;
}