@use '../base/colors';
@use '../base/themes';
@use '../base/typography';

div#planet {
    .menu-icon {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
    
        svg {
            color: var(--color-text)
        }
    }
    
    .makeStyles-planetContent-2, .jss2 {
        position: relative !important;
    }
    
    .menu-link {
        font-family: Kayak, sans-serif;
        color: var(--color-text);
        border: none;
        background: none;
        text-decoration: none;
    }
}