@use '../base/breakpoints';

nav {
    width: 100%;
    max-width: 1536px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    padding: 2.5rem 1rem;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu-link {
    font-weight: lighter;
    font-size: 1rem;
}

@include breakpoints.sm {
    nav {
        padding: 4rem 3rem;
    }
}