@use '../base/breakpoints';
@use '../base/themes';

.back-button {
    position: absolute;
    top: 3.2rem;
    left: 1rem;
    z-index: 11;
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform .2s ease-out;
    border-radius: 50%;
    height: 32px;
    width: 32px;

    svg {
        margin: 0 !important;
    }

    &::before {
        background-color: transparent;
    }

    &:hover {
        transform: scale(1.1)
    }

    &:active {
        transform: scale(.9);
    }
}

.project-section_frontmatter {
    height: 100vh;
    max-height: 100vh;
    scroll-snap-align: start;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 3rem 0 6.5rem 0;
    height: calc(var(--vh, 1vh) * 100)
}

.project-title {
    margin-top: 7rem;
    text-align: right;
    

    h1 {
        font-weight: lighter;
        font-size: 3rem;
    }

    p {
        margin-bottom: 1rem;
        font-size: 1rem;
    }
}

.project-section_body {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 2.5rem 0 6.5rem 0;

    h2 {
        letter-spacing: 6px;
    }

    p:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.project-vert-rule {
    height: 100%;
    border-right: 1px solid var(--color-text);
    transform-origin: top;
}

.project-body-vert-rule {
    // margin-top: calc(40px + 48px - 32px);
    height: 100%;
    border-left: 1px solid var(--color-text);
    transform-origin: top;
}

.project-links {
    display: inherit;
    flex-direction: inherit;
    text-align: right;
    font-family: "space mono", sans-serif;
    width: auto;
    margin-top: 1rem;

    a {
        align-self: flex-end;
        font-weight: normal;
    }
}

.project-image {
    width: 100%;
    max-width: 960px;
    height: auto;
    position: absolute !important;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%) scale(.9)
}

@include breakpoints.sm {
    .project-section_frontmatter {
        h1 {
            font-size: 4rem;
        }
    }
    .project-section_body {
        h2 {
            font-size: 3rem;
        }
    }

    .project-image {
        
    }
}

@include breakpoints.md {
    .back-button {
        top: 4.5rem;
        left: 3rem;
    }

    .project-section_frontmatter {
        padding: 2.5rem 0;
    }

    .project-section_body {
        max-width: 60%;
        padding: 2.5rem 0;
    }

    // .project-title {
    //     margin-top:
    // }

    .project-links {
        font-size: 1.5rem;
    }

    .project-image {
        top: 13%;
        transform: translateX(-50%) scale(.8);
    }

}

@include breakpoints.lg {
    .project-image {
        top: 5%;
        
    }
}

@include breakpoints.xl {
    .project-image {
        top: 50%;
        left: 35%;
        transform: translate(-50%, -45%) scale(.9);
    }
}