@use 'colors';
@use 'themes';
@use 'breakpoints';



html {
    scroll-snap-type: y mandatory;
}

body {
    overscroll-behavior-y: none;
    text-transform: lowercase;
    background-color: var(--color-background);
    color: var(--color-text);
    position: relative;
    overflow-x: hidden;
}

section {
    padding: 2.5rem 0 6.5rem 0;
}

section {
    padding: 2.5rem 0 6.5rem 0;
}

@include breakpoints.md {
    section {
        padding: 2.5rem 0;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
}

.page-container {
    position: relative;
    padding:0 1rem;
    max-width: 1536px;
}

@include breakpoints.sm {
    .page-container {
        padding: 0 3rem;
    }
}


canvas {
    position: fixed;
}

.canvas-container {
    position: fixed !important;
    z-index: -3;
    height: 100%;
    width: 100%;
}

*:focus {
    outline: var(--focus-outline) 2px solid;
    box-shadow: 0 0 15px 2px var(--focus-outline);
}