@use 'themes';
@use 'breakpoints';

@font-face {
    font-family: "kayak";
    src: url("../fonts/kayak_sans_regular-webfont.woff2");
}

@font-face {
    font-family: "kayak";
    src: url("../fonts/kayak_sans_regular_italic-webfont.woff2");
    font-style: italic;
}

@font-face {
    font-family: "kayak";
    src: url("../fonts/kayak_sans_bold-webfont.woff2");
    font-weight: bold;
}

@font-face {
    font-family: "kayak";
    src: url("../fonts/kayak_sans_bold_italic-webfont.woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "kayak";
    src: url("../fonts/kayak_sans_light-webfont.woff2");
    font-weight: lighter;
}

@font-face {
    font-family: "kayak";
    src: url("../fonts/kayak_sans_light_italic-webfont.woff2");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'space mono';
    src: url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
}

h1 {
    font-family: kayak, sans-serif;
    font-weight: bold;
    font-size: 64px;
}

.tagline {
    font-family: kayak, sans-serif;
    font-weight: lighter;
}

h2 {
    font-size: 2rem;
    font-family: kayak, sans-serif;
    font-weight: bold;
    letter-spacing: 6px;
    color: var(--color-text);
    padding: 0 0;
    margin: 0 0;
}

h3 {
    font-size: 1.5rem;
    font-family: kayak, sans-serif;
    font-style: italic;
    font-weight: lighter;
    text-decoration: underline;
    letter-spacing: 4px;
    margin-bottom: .5rem;
}

p {
    text-transform: none;
    font-family: 'space mono', sans-serif;
    font-size: .9rem;
}

a {
    position: relative;
    color: var(--color-text);
    text-decoration: none;

    svg {
        margin-left: 6px;
    }
}

// @include breakpoints.md {
//     a {
//         svg {
//             margin-left: 8px;
//         }
//     }
// }

a::before {
    content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scale(0);
  background-color: var(--color-text);
  transition: transform 0.5s ease;
}

a:hover {
    &::before {
        transform-origin: left;
        transform: scaleX(1);
    }
}


@include breakpoints.sm {
    h2 {
        margin-top: 1.5rem;
        font-size: 4rem;
    }
}